
body {
  font: message-box;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 2px;
  cursor: default;
  background-color: var(--color-back);
  color: var(--color-text);
}

button {
  appearance: none;
  background-color: var(--color-button);
  color: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
}

button:hover {
  background-color: var(--color-button-hover);
}

button:hover:active {
  background-color: var(--color-button-active);
}

button:disabled, button:disabled:active {
  background-color: var(--color-back);
  border: 1px solid var(--color-border-light);
}

.section {
  margin: 10px 0 0;
  padding: 0 0 10px;
  border-bottom: 1px solid var(--color-border-light);
  word-break: break-word;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section:last-of-type {
  border-bottom: none;
  padding: 0;
}

.section-head {
  display: flex;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
  justify-content: center;
  padding: 8px 0;
  flex-grow: 1;
}

.section-button {
  appearance: none;
  min-width: 90px;
  min-height: 32px;
  font-size: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 7px 15px;
  text-decoration: none;
  margin: 4px 0px 4px 8px;
  text-align: center;
}

.section-button-small {
  padding: 0 0 2px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  font-size: 11px;
  height: 24px;
  box-sizing: border-box;
  text-align: center;
  margin: 4px 0 0 15px;
  border-radius: 2px;
}

.section-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.section-label {
  flex-grow: 1;
}

.section-input-text {
  font: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: inherit;
  direction: ltr;
  text-align: match-parent;
  padding: 8px;
  margin: 2px 0;
  appearance: none;
  border: 1px solid;
  border-color:  var(--color-border);
  border-radius: 4px;
  color: inherit;
  width: 300px;
}

.section-input-radio {
  width: 16px;
  height: 16px;
  margin: 2px 10px 0 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-back: rgba(255,255,255,1);
    --color-text: rgba(21,20,26,1);
    --color-border: rgba(158,158,160,1);
    --color-border-light: rgba(215,215,219,1);
    --color-button: rgba(207,207,216,.33);
    --color-button-hover: rgba(207,207,216,.66);
    --color-button-active: rgba(207,207,216,1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-back: rgba(35,34,43,1);
    --color-text: rgba(251,251,254,1);
    --color-border: rgba(249,249,250,.4);
    --color-border-light: rgba(249,249,250,0.2);
    --color-button: rgba(43,42,51,1);
    --color-button-hover: rgba(82,82,94,1);
    --color-button-active: rgba(91,91,102,1);
  }
}
